:root {
	--cnvs-themecolor: #22B9FE;
	--cnvs-body-bg: #99cfe8;
		--cnvs-footer-bg: #22B9FE;
	--amadeus-site-h2-bgd: #99cfe8;
	--after-content-background: #129edf;
}

#header-wrap {
	--cnvs-header-bg: #22B9FE;
}

.menu-container > .menu-item > .menu-link div::after {
	background-image: url(themed-border.png);
}
/*
.swiper-button-disabled { display: none; }
*/
#footer-social i { top: -8px; position: relative; }
