:root {
	--cnvs-themecolor: #99dcfc;
	--cnvs-body-bg: #99cfe8;
		--cnvs-footer-bg: var(--cnvs-body-bg);
		--cnvs-header-bg: var(--cnvs-body-bg);
	--amadeus-site-h2-bgd: #99cfe8;
	--after-content-background: #129edf;
}

#content { background-color: var(--cnvs-themecolor)!important; }

.menu-container > .menu-item > .menu-link div::after {
	background-image: url(themed-border.png);
}
/*
.swiper-button-disabled { display: none; }
*/
#footer-social i { top: -8px; position: relative; }
.message-cell .btn-info { background-color: #99dcfc; font-size: 110%; }
